/* Pod apply */
kubectl apply -f <yaml>
kubectl apply -f pvc.yaml -f deployment.yaml -f service.yaml

/* Pod delete */
kubectl delete pod <Pod>

/* Pod restart Image Update 제외 */
kubectl rollout restart statefulset test-client
kubectl rollout restart statefulset test-server

/* Shell */
kubectl exec -it <Pod> -- /bin/sh
kubectl exec -it <pod-name> -- /bin/bash -il

/* Pod Spec */
kubectl describe pod <Pod>

/* Configmap */
kubectl get configmap
kubectl apply -f configmap.yaml
