/* Pod apply */
kubectl apply -f <yaml>

/* Pod delete */
kubectl delete pod <Pod>

/* Pod restart Image Update 제외 */
kubectl rollout restart statefulset test-client
kubectl rollout restart statefulset test-server

/* Shell */
kubectl exec -it <Pod> -- /bin/sh

/* Pod Spec */
kubectl describe pod <Pod>

/* Configmap */
kubectl get configmap
kubectl apply -f configmap.yaml
